In [1]:
!pip install --quiet --upgrade langchain langchain-community langchain-chroma

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 67.3/67.3 kB 2.7 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 18.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 59.0 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 615.5/615.5 kB 39.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 61.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 94.7/94.7 kB 8.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 408.7/408.7 kB 34.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 64.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 273.8/273.8 kB 23.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 59.0 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.5/49.5 kB 4.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 93.2/93.2 kB 8.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.3/13.3 MB 65.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.8/55.8 kB 4.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 159.2/159.2 kB 14.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 64.3/64.3 kB 5.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 118.7/118.7 kB 11.0 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.4/54.4 kB 4.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 73.3/73.3 kB 6.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 63.7/63.7 kB 5.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 442.1/442.1 kB 32.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.6/316.6 kB 26.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.8/3.8 MB 69.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 425.7/425.7 kB 31.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 167.5/167.5 kB 15.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.0/46.0 kB 4.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 86.8/86.8 kB 6.0 MB/s eta 0:00:00
  Building wheel for pypika (pyproject.toml) ... done
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-cloud-datastore 2.19.0 requires protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5, but you have protobuf 5.28.3 which is incompatible.
google-cloud-firestore 2.16.1 requires protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5, but you have protobuf 5.28.3 which is incompatible.
tensorboard 2.17.0 requires protobuf!=4.24.0,<5.0.0,>=3.19.6, but you have protobuf 5.28.3 which is incompatible.
tensorflow 2.17.0 requires protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3, but you have protobuf 5.28.3 which is incompatible.
tensorflow-metadata 1.16.1 requires protobuf<4.21,>=3.20.3; python_version < "3.11", but you have protobuf 5.28.3 which is incompatible.

In [2]:
!pip install -qU unstructured

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 981.5/981.5 kB 13.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 37.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 586.9/586.9 kB 27.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 274.9/274.9 kB 18.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 32.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.9/59.9 kB 4.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 298.0/298.0 kB 11.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.6/114.6 kB 9.3 MB/s eta 0:00:00
  Building wheel for langdetect (setup.py) ... done

In [3]:
!pip install -qU langchain-huggingface

In [4]:
!pip install -qU langchain-google-genai

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.8/41.8 kB 1.6 MB/s eta 0:00:00

In [5]:
!pip install --upgrade --quiet  langchain sentence_transformers

In [6]:
# Imports
import pandas as pd
import numpy as np
import os
from getpass import getpass

from langchain import hub
from langchain_community.document_loaders import DirectoryLoader
from langchain_text_splitters import RecursiveCharacterTextSplitter
from langchain_chroma import Chroma
from langchain_community.embeddings import HuggingFaceInferenceAPIEmbeddings
from langchain_google_genai import ChatGoogleGenerativeAI
from langchain_core.runnables import RunnablePassthrough
from langchain_core.output_parsers import StrOutputParser, JsonOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_community.document_loaders.csv_loader import CSVLoader

In [7]:
# AIzaSyDzJpCzonF2U7UQD90LgTWCakM3ay5PpZI - Google
# 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 - HF

hf_token = getpass("Enter HF Token: ")
google_api_key = getpass("Enter Google Token: ")

os.environ['HF_TOKEN'] = hf_token
os.environ['GOOGLE_API_KEY'] = google_api_key

MODEL_NAME = "BAAI/bge-small-en-v1.5"#"thenlper/gte-large"

Enter HF Token: ··········
Enter Google Token: ··········

In [8]:
import pandas as pd

excel_file = 'ledgers.xlsx'
csv_path = "./data/"

excel_data = pd.ExcelFile(excel_file)
sheet_names = excel_data.sheet_names

for sheet_name in sheet_names:
    df = pd.read_excel(excel_file, sheet_name=sheet_name)
    csv_file_name = f"{csv_path + sheet_name}.csv"
    df.to_csv(csv_file_name, index=False)

    print(f"Saved {sheet_name} as {csv_file_name}")

Saved Ramesh chowdhary as ./data/Ramesh chowdhary.csv
Saved Pranavni as ./data/Pranavni.csv
Saved hdfc as ./data/hdfc.csv

In [18]:
def preprocess(df: pd.DataFrame):
  df = df.copy()
  index = df[df.iloc[:,0] == 'Date'].index[0]
  df1 = df.iloc[index+1:,]
  current_cols = df1.columns
  modified_cols = ['date', 'direction', 'transaction_desc', 'vch_type', 'vch_no', 'debit', 'credit']
  df1 = df1.rename(columns=dict(zip(current_cols, modified_cols)))
  df1['transaction_details'] = df1.apply(lambda row: row['transaction_desc'] if pd.isna(row['date']) and pd.isna(row['direction']) else None, axis=1)
  df1['transaction_details'] = df1['transaction_details'].bfill()
  df1 = df1[~df1['transaction_desc'].str.contains('Opening Balance|Closing Balance', case=False, na=False)]
  df1 = df1.dropna(subset=['date', 'direction', 'transaction_desc', 'vch_type', 'vch_no'])
  df1['direction'] = df1['direction'].apply(lambda x: "No" if x == "By" else "Yes")
  df1['debit'] = df1['debit'].fillna(df1['credit'])
  df1.rename(columns={"debit": "amount", "direction": "is_amount_debited"}, inplace=True)
  df1.drop('credit', axis=1, inplace=True)

  return df1

In [19]:
directory_path = "./data/"
dfs = []
for root, dirs, files in os.walk(directory_path):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)

            df = pd.read_csv(file_path)
            df = preprocess(df)
            dfs.append(df)

df = pd.concat(dfs, ignore_index=True)
df.head()

,date,is_amount_debited,transaction_desc,vch_type,vch_no,amount,transaction_details
0,2024-06-01 00:00:00,Yes,Cash,Payment,434,300000,Being amt paid for Ramesh babu
1,2024-06-02 00:00:00,Yes,HDFC Bank,Payment,436,100000,IMPS-415411333379-CH GANESH-HDFC-xxxxxxxxxx375...
2,2024-06-06 00:00:00,Yes,Cash,Payment,477,400000,HDFC Bank : RTGS money transfer Txn No HDFCR52...
3,2024-06-08 00:00:00,Yes,Cash,Payment,506,50000,Being cash given
4,2024-06-10 00:00:00,Yes,ICICI Bank,Payment,511,100000,MMT/IMPS/416222152747/72166474 by CHI/KARANAMR...

In [22]:
df.to_csv('./data/autoledgers.csv', index=False)

## Indexing

In [23]:
### Load

# loader = DirectoryLoader("./data/", glob="**/*.csv")
file_path = "./data/autoledgers.csv"

loader = CSVLoader(file_path=file_path)
docs = loader.load()
len(docs[0].page_content)

168

In [24]:
print(docs[0].page_content[:910])

date: 2024-06-01 00:00:00
is_amount_debited: Yes
transaction_desc: Cash
vch_type: Payment
vch_no: 434
amount: 300000
transaction_details: Being amt paid for Ramesh babu

In [25]:
# Split

text_splitter = RecursiveCharacterTextSplitter(
    chunk_size=1000, chunk_overlap=200, add_start_index=True
)
all_splits = text_splitter.split_documents(docs)

len(all_splits), len(all_splits[0].page_content)

(106, 168)

In [26]:
# Store

embeddings = HuggingFaceInferenceAPIEmbeddings(
    api_key=hf_token, model_name="sentence-transformers/all-MiniLM-l6-v2"
)
vectorstore = Chroma.from_documents(documents=all_splits,
                                    embedding=embeddings)

## Retrieval and Generation: Retrieve

In [27]:
retriever = vectorstore.as_retriever(search_type="mmr",
                                     search_kwargs={'k': 5, 'fetch_k': 50})

retrieved_docs = retriever.invoke("What are the amounts debited during 19th October 2024?")

In [28]:
len(retrieved_docs)

5

### Retrieval and Generation: Generate

In [29]:
llm = ChatGoogleGenerativeAI(model="gemini-1.0-pro", google_api_key=google_api_key)

In [30]:
prompt = hub.pull("rlm/rag-prompt")
def format_docs(docs):
    return "\n\n".join(doc.page_content for doc in docs)


rag_chain = (
    {"context": retriever | format_docs, "question": RunnablePassthrough()}
    | prompt
    | llm
    | StrOutputParser()
)

rag_chain.invoke("What are the amounts debited during 19th October 2024?")

/usr/local/lib/python3.10/dist-packages/langsmith/client.py:354: LangSmithMissingAPIKeyWarning: API key must be provided when using hosted LangSmith API
  warnings.warn(

'I cannot find the answer to your question based on the provided context.'

In [47]:
rag_chain.invoke("How much was debited from the account to Ramesh Choupardu?")

WARNING:chromadb.segment.impl.vector.local_hnsw:Number of requested results 50 is greater than number of elements in index 18, updating n_results = 18

'I cannot answer the question because the amount debited from the account to Ramesh Choupardu is not mentioned in the context.'

In [36]:
template = """The data contains ledger entries with fields such as 'date', 'is_amount_debited', 'transaction_desc', 'vch_type', 'vch_no', 'amount' and 'transaction_details'.

Based on the provided context, retrieve and organize information as follows:

1. Date: The date and time of the transaction.
2. is_amount_debited: The nature of the transaction, is it debit transaction or credit transaction. The value will be Yes or No. Yes if debited or No if transaction was credited.
3. transaction_desc: The account involved in the transaction (e.g., Cash, Bank Name, Individual’s Name).
4. Voucher Type: The voucher type associated with the transaction, if available. It can be Payment (debit), Receipt (credit), Journal (debit), Contra (debit)
5. Voucher No.: The voucher number associated with the transaction, if available.
6. Amount: The amount debited or credited in the transaction.
7. transaction_details: Any additional details related to the transaction, especially unstructured notes or remarks. This also contains names of the recipients.

Example Query:
Retrieve details of all payments made to HDFC Bank between 01-Jun-2024 and 06-Jun-2024, including transaction descriptions.
Expected Response Format:
- Date: [Date of transaction]
- is_amount_debited: [Type of transaction]
- transaction_desc: [Recipient]
- Voucher Type: [Voucher number, if applicable]
- Voucher No.: [Voucher number, if applicable]
- Amount: [Amount]
- transaction_details: [Additional transaction details]

You are an accountant who uses this structure to provide organized information based on the ledger data in the embeddings.

{context}

Question: {question}"""

In [50]:
template1 = """You are provided with ledger data stored in a table with the following fields:

1. date: The date and time of the transaction.
2. is_amount_debited: Indicates if the transaction is a debit ("Yes") or a credit ("No").
3. transaction_desc: The account involved in the transaction (e.g., Cash, Bank Name, Individual’s Name).
4. vch_type: The type of voucher associated with the transaction (e.g., Payment, Receipt, Journal, Contra).
5. vch_no: The voucher number associated with the transaction, if available.
6. amount: The amount debited or credited in the transaction.
7. transaction_details: Additional details related to the transaction, including unstructured notes or recipient names.

Based on this table structure, generate an SQL query that fulfills the given request. Use the table name `ledger_data` in your query.
If the question includes any specific entity (such as a name, organization, or account name),
ensure the SQL query searches for it in both `transaction_desc` and `transaction_details` fields,
using a case-insensitive search. Date-based filters should be applied to the `date` field,
and amount-based filters should apply to the `amount` field. No need to keep the format of the sql queries, just generate the query.

Examples:

1. Question: "Retrieve all debit transactions made to HDFC Bank in June 2024."
   - SQL Query:
     ```sql
     SELECT date, transaction_desc, vch_type, vch_no, amount, transaction_details FROM ledger_data WHERE is_amount_debited = 'Yes' AND (LOWER(transaction_desc) LIKE '%hdfc bank%' OR LOWER(transaction_details) LIKE '%hdfc bank%') AND DATE(date) BETWEEN '2024-06-01' AND '2024-06-30';
     ```

2. Question: "List all transactions where more than 500,000 was credited, including transaction descriptions."
   - SQL Query:
     ```sql
     SELECT date, transaction_desc, vch_type, vch_no, amount, transaction_details FROM ledger_data WHERE is_amount_debited = 'No' AND amount > 500000;
     ```

3. Question: "Find the total amount debited for each voucher type in July 2024."
   - SQL Query:
     ```sql
     SELECT vch_type, SUM(amount) AS total_debited FROM ledger_data WHERE is_amount_debited = 'Yes' AND DATE(date) BETWEEN '2024-07-01' AND '2024-07-31' GROUP BY vch_type;
     ```

4. Question: "List all transactions to Ramesh Choupardu."
   - SQL Query:
     ```sql
     SELECT date, transaction_desc, vch_type, vch_no, amount, transaction_details FROM ledger_data WHERE LOWER(transaction_desc) LIKE '%ramesh choupardu%' OR LOWER(transaction_details) LIKE '%ramesh choupardu%';
     ```

Now, here’s the below the context and question for the SQL query generation:

context: {context}

Question: {question}"""

In [94]:
template2 = """You are provided with ledger data stored in a DataFrame with the following columns:

1. `date`: The date and time of the transaction. Dtype: Timestamp
2. `is_amount_debited`: Indicates if the transaction is a debit ("Yes") or a credit ("No"). Dtype: String
3. `transaction_desc`: The account involved in the transaction (e.g., Cash, Bank Name, Individual’s Name). Dtype: String
4. `vch_type`: The type of voucher associated with the transaction (e.g., Payment, Receipt, Journal, Contra). Dtype: String
5. `vch_no`: The voucher number associated with the transaction, if available. Dtype: int
6. `amount`: The amount debited or credited in the transaction. Dtype: float
7. `transaction_details`: Additional details related to the transaction, including unstructured notes or recipient names. Dtype: String

Generate a Python code snippet to retrieve data from this DataFrame (named `ledger_df`) based on the provided question. The code should apply filters and transformations according to the question and should be written as a single line without line breaks. If any entity is specified in the question (such as a name, organization, or account name), ensure the code filters for this entity in both `transaction_desc` and `transaction_details` columns, using a case-insensitive search. Date-based filters should apply to the `date` column, and amount-based filters should apply to the `amount` column.
Maintain the data types.

Examples:

1. Question: "Retrieve all debit transactions made to HDFC Bank in June 2024."
   - Code: ledger_df[(ledger_df['is_amount_debited'] == 'Yes') & (ledger_df['transaction_desc'].str.lower().str.contains('hdfc bank') | ledger_df['transaction_details'].str.lower().str.contains('hdfc bank')) & (ledger_df['date'].between('2024-06-01', '2024-06-30'))]


2. Question: "List all transactions where more than 500,000 was credited, including transaction descriptions."
   - Code: ledger_df[(ledger_df['is_amount_debited'] == 'No') & (ledger_df['amount'] > 500000)]

3. Question: "Find the total amount debited for each voucher type in July 2024."
   - Code: ledger_df[(ledger_df['is_amount_debited'] == 'Yes') & (ledger_df['date'].between('2024-07-01', '2024-07-31'))].groupby('vch_type')['amount'].sum()

4. Question: "List all transactions to Ramesh Choupardu."
   - Code: ledger_df[ledger_df['transaction_desc'].str.lower().str.contains('ramesh choupardu') | ledger_df['transaction_details'].str.lower().str.contains('ramesh choupardu')]

Now, here’s the below the context and question for the DataFrame query generation:

context: {context}

Question: {question}"""

In [95]:
custom_rag_prompt = PromptTemplate.from_template(template2)

rag_chain = (
    {"context": retriever | format_docs, "question": RunnablePassthrough()}
    | custom_rag_prompt
    | llm
    | StrOutputParser()
)

rag_chain.invoke("How much was debited from the account to Ramesh Babu?")

"ledger_df[(ledger_df['is_amount_debited'] == 'Yes') & (ledger_df['transaction_desc'].str.lower().str.contains('ramesh babu') | ledger_df['transaction_details'].str.lower().str.contains('ramesh babu'))]['amount'].sum()"

In [96]:
rag_chain.invoke("How much amount was credited?")

"ledger_df[ledger_df['is_amount_debited'] == 'No']['amount'].sum()"

In [97]:
rag_chain.invoke("What are the amounts debited during 19th October 2024?")

"ledger_df[(ledger_df['is_amount_debited'] == 'Yes') & (ledger_df['date'] == '2024-10-19')]"

In [98]:
rag_chain.invoke("What are the cash amounts debited or credited to Aishwarya?")

"ledger_df[(ledger_df['transaction_desc'] == 'Cash') & (ledger_df['transaction_details'].str.lower().str.contains('aishwarya'))]"

In [99]:
ledger_df = df.copy()
ledger_df['amount'] = ledger_df['amount'].astype(float)

In [100]:
query = rag_chain.invoke("How much amount was credited?")
result = eval(query)
print(result)

17611406.4

In [102]:
query = rag_chain.invoke("What are the cash amounts debited or credited to Aishwarya?")
eval(query)

,date,is_amount_debited,transaction_desc,vch_type,vch_no,amount,transaction_details
6,2024-07-09 00:00:00,Yes,Cash,Payment,827,111000.0,Being amt paid to Addala Aishwarya 50000/- and...

In [20]:
df.head(20)

,date,is_amount_debited,transaction_desc,vch_type,vch_no,amount,transaction_details
0,2024-06-01 00:00:00,Yes,Cash,Payment,434,300000,Being amt paid for Ramesh babu
1,2024-06-02 00:00:00,Yes,HDFC Bank,Payment,436,100000,IMPS-415411333379-CH GANESH-HDFC-xxxxxxxxxx375...
2,2024-06-06 00:00:00,Yes,Cash,Payment,477,400000,HDFC Bank : RTGS money transfer Txn No HDFCR52...
3,2024-06-08 00:00:00,Yes,Cash,Payment,506,50000,Being cash given
4,2024-06-10 00:00:00,Yes,ICICI Bank,Payment,511,100000,MMT/IMPS/416222152747/72166474 by CHI/KARANAMR...
5,2024-07-09 00:00:00,Yes,Cash,Payment,746,500000,Being plot payment of D.Suresh Reddy as per re...
6,2024-07-09 00:00:00,Yes,Cash,Payment,827,111000,Being amt paid to Addala Aishwarya 50000/- and...
7,2024-07-18 00:00:00,Yes,Cash,Payment,809,2000000,Being cash paid
8,2024-07-19 00:00:00,Yes,Cash,Payment,826,500000,Being cash paid
9,2024-07-27 00:00:00,Yes,Cash,Payment,878,1000000,Being cash given at Ramesh Garu home
10,2024-07-27 00:00:00,Yes,Cash,Payment,905,100000,Being plot payment recv. from CH.Venkata Krish...
11,2024-07-27 00:00:00,Yes,Cash,Payment,906,100000,Being plot payment recv. from CH.Venkata Krish...
12,2024-07-29 00:00:00,Yes,ICICI Bank,Payment,881,200000,Being amt transf to Karanam Ramesh Babu Sir MM...
13,2024-07-30 00:00:00,Yes,ICICI Bank,Payment,885,300000,MMT/IMPS/421217978490/73390464 by CHI/PRANAVIP...
14,2024-07-31 00:00:00,Yes,HDFC Bank,Payment,902,48000,99949995666666-TPT-Ganesh amount-ARAVA NAGA LI...
15,2024-08-06 00:00:00,Yes,Cash,Payment,969,5000000,Being cash given at Marvel
16,2024-08-17 00:00:00,Yes,Cash,Payment,1080,100000,Being cash given to M.Bharath
17,2024-08-20 00:00:00,Yes,Cash,Payment,1086,100000,Being cash given to M.Bharath
18,2024-08-20 00:00:00,Yes,Cash,Payment,1087,577450,Being amt transf to Aravind
19,2024-08-28 00:00:00,Yes,ICICI Bank,Payment,1170,1000000,RTGS/ICICR42024082800515637/KVBL0001456/PRANAV...

In [33]:
df['vch_type'].value_counts()

vch_type
Payment    81
Receipt    20
Journal     3
Contra      2
Name: count, dtype: int64

In [31]:
df.columns

Index(['date', 'is_amount_debited', 'transaction_desc', 'vch_type', 'vch_no',
       'amount', 'transaction_details'],
      dtype='object')